<?xml version="1.0" encoding="UTF-8"?>
<AlteryxJavaScriptPlugin>
  <Properties>
    <MetaInfo>
      <Name>PDF 浮水印</Name>
      <Description>將指定 PDF 檔添加浮水印。</Description>
      <ToolVersion>0.1.3</ToolVersion>
      <CategoryName>PwC Data Tools</CategoryName>
      <Author>Assurance Innovation and Transformation</Author>
      <Icon>PDFWatermark/icon.png</Icon>
    </MetaInfo>
  </Properties>
</AlteryxJavaScriptPlugin>